* {
    color: rgb(131, 128, 125);
}

h1,
h2,
h3 {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.section {
    flex: 0 0 20%;
    /* background-color: lightblue; */
    height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
    overflow-y: auto;

}

.content {
    flex-grow: 1;
    overflow-y: auto;
    display: grid;
    /* justify-items: center; */
    align-items: center;
}

.sec-label {
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* experience start */
.experience-container {
    margin-bottom: 2em;
}

.experience-title {
    font-size: 1.5rem;
    margin-bottom: 0.2em;
}

.position-title {
    font-size: 1.2rem;
    margin: 0;
    margin-bottom: 0.5rem;
}

.task-list {
    list-style-type: circle;
}

.task-list-item {
    margin-bottom: 0.5rem;
}
/* experience end */

.about-container {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* height: 100vh; */
    /* background-color: yellow; */
}


.about-title,
.skills-title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.about-content,
.skills-content {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.name{
    font-size: 3rem;
    text-decoration: underline;
    margin-bottom: .3em;
}

.about-sub{
    font-size: 1.7rem;
    text-decoration: underline;
    margin: 1em 0 .3em 0;
}

/* project */
.project-container {
    margin-bottom: 2em;
}

.dl-btn{
    text-decoration: none;
    border:1px solid #fff;
    padding:.5em;
    border-radius: 8px;
}

.dl-btn-container {
    margin-top: 1em;
}