.home_container {
    background-color: #34353a;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}

.infoCard {
    border-radius: 10px;
    border-bottom: 1px solid transparent;
    padding-right: 2em;
    transition: all .2s ease;
}

.infoCard:hover {
    border-bottom: 1px solid orange;
    transform: translateY(-.5rem);
}

.name {
    color: #fdc669;
    font-size: 3rem;
}

.designation {
    color: #fff;
    font-size: 1.2rem;
}

.gear_icon {
    /* position: absolute; */
}

.homelhs {
    flex: 1;
}

.homerhs {
    flex: 1;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project_title {
    font-size: 2rem;
    color: #fdc669;
}

.project_chip {
    background-color: #3d3e42;
    padding: .5em .8em;
    border-radius: 10px;
    margin: .5em 0;
    transition: all .2s ease;
    border: 1px solid transparent;
}

.project_chip>p {
    font-size: 1.2rem;
    color: #fff;
}

.project_chip:hover {
    background-color: #595a61;
    cursor: pointer;
    border-left: 1px solid #fdc669;
    border-right: 1px solid #fdc669;
}

.contactBtn {
    background-color: #595a6162;
    color: #fff;
    padding: .2em .6em;
    border-radius: 8px;
    margin-top: 10px;
    font-size: 1rem;
    border: 1px solid transparent;
    transition: all .2s ease;
}

.contactBtn:hover {
    border: 1px solid #fdc669;
    color: #fdc669;
}

.seperator {
    height: 1px;
    background-color: #fdc669;
    width: 90%;
}

.contact_card {
    padding: 1em 0;
}

.email {
    color: #fff;
}

.projectsCard {
    padding: 1em;
    border-radius: 10px;
    border-top: 1px solid orange;
}

@media only screen and (max-width: 768px) {
    .home_container {
        position: relative;
        flex-wrap: wrap;
        flex-direction: column;
    }
}