.projects_container{
    height: 100vh;
    width: 100vw;
    background-color: #34353a;
}

.projects_card_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.name{
    color:#fff;
    font-size: 10vw;
    font-family: rubik;
}

.gear_icon{
    position: absolute;
}